

#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0;
}


main {
  height: 100%;
  min-height: calc(100vh - 100px);
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s linear;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #003a8c;
}

h1 {
  font-size: 65px;
  font-weight: 100;
  line-height: 75px;
 

}

h2 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  color: #5F6F81;
  font-family: "Roboto", sans-serif;

}

.MuiFormControl-root {
  width: 100%;
}

.tac {
  text-align: center;
}

.with-bg-color {
  background-color: #e0dddd2e;

}

input {
       font-size: 17px;
       height: 22px;
}

input::placeholder {
       font-size: 12px;
}

.MuiFormLabel-root {
  font-weight: 100 !important;
  color:#003a8c !important;
}
.MuiTimelineItem-missingOppositeContent:before {
  display: none !important;
}

  button:focus {
outline: none;
  }

  .carousel .slide {
    background-color: transparent !important;
    border-radius: 16px;
    border-top-right-radius: 0;
  }

.carousel .control-dots .dot.selected:focus {
  background-color:  #003a8c;
  outline: none;
}
